<nav>
	<div id="image-slider" class="splide">
		<div class="splide__arrows">
			<button class="splide__arrow splide__arrow--prev">
				<div class="arrows prev"> <img src="../../../assets/arrow-left-solid.svg"></div>
			</button>
			<button class="splide__arrow splide__arrow--next">
				<div class="arrows next"><img src="../../../assets/arrow-right-solid.svg"></div>
			</button>
  		</div>
		<div class="splide__track">
			<ul class="splide__list">
					<li class="splide__slide">
					<a href="https://www.youtube.com/watch?v=fKkAKG0YA4U" target="_blank"><img src="../../../assets/equilibrando_06.png"></a>
					<div class="informacoes">
						<span>Vivência Acadêmica + Onboarding Ulife</span>
						<p>2023</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="https://www.instagram.com/anima.hub/" target="_blank"><img src="../../../assets/anima_lab.jpeg"></a>
					<div class="informacoes">
						<span>Conheça o seu Instagram oficial"</span>
						<p>2023</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="https://www.youtube.com/watch?v=3DwWW9aY8FE" target="_blank"><img src="../../../assets/equilibrando_08.png"></a>
					<div class="informacoes">
						<span>Onboarding Discord + Ferramentas do dia a dia tech</span>
						<p>2023</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="https://instagram.com/girls.intech?igshid=YmMyMTA2M2Y=" target="_blank"><img src="../../../assets/anima_girls.jpeg"></a>
					<div class="informacoes">
						<span>Conheça a Comunidade Girls in Tech"</span>
						<p>2023</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="https://www.youtube.com/watch?v=PG-IvhTpr7A" target="_blank"><img src="../../../assets/equilibrando_10.png"></a>
					<div class="informacoes">
						<span>Transição de Carreira com Professora Natália Frizzo da UC "Vida e Carreira"</span>
						<p>2023</p>
					</div>
				</li>
									

			</ul>
		</div>
	</div>
</nav>