<nav>
	<div id="image-slider" class="splide">
		<div class="splide__arrows">
			<button class="splide__arrow splide__arrow--prev">
				<div class="arrows prev"> <img src="../../../assets/arrow-left-solid.svg"></div>
			</button>
			<button class="splide__arrow splide__arrow--next">
				<div class="arrows next"><img src="../../../assets/arrow-right-solid.svg"></div>
			</button>
  		</div>
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<a href="https://www.youtube.com/watch?v=fsV04Cx6hQk&list=PLdBbt-UjMLgxgbV4uG9zTZjZs1AWMHuFT" target="_blank"><img src="../../../assets/event_portfolio.png"></a>
					<div class="informacoes">
						<span>Meu Primeiro Portfólio</span>
						<p>2023</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="https://www.youtube.com/watch?v=KIWhCPKfWEM&list=PLdBbt-UjMLgxZc6thGTFsNdgkU5oIZ6zD" target="_blank"><img src="../../../assets/Event_Logica.png"></a>
					<div class="informacoes">
						<span>Lógica de programação</span>
						<p>2021</p>
					</div>
				</li>
				<li class="splide__slide">
					<a href="https://www.youtube.com/watch?v=64ORZf5lJHY&list=PLdBbt-UjMLgyBFEPIOtVUe8-a7WEuiZdm" target="_blank"><img src="../../../assets/Event_ChatBot.png"></a>
					<div class="informacoes">
						<span>Manual Tech Chat Bot</span>
						<p>2021</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>